body{
    color: rgb(127, 127, 127);
    font-size: 13px;
    font-family: Rajdhani, 微軟正黑體, sans-serif;
    background: rgb(255, 255, 255);
  }
  body,header,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
    margin: 0;
    padding: 0;
  }
  img{
    border: none;
    vertical-align: middle;
  }
  li{
    list-style: none;
  }
  input,select,textarea,button{
  outline: none;
  border: none;
  background: none;
  }
  a{
    text-decoration: none;
    color: gray;
  }
  /* 清除浮动*/
  .clearfix:after{
    content: "";
    display: block;
    clear: both;
  }
  .clearfix{
    zoom:1;
  }
  /* 定义左右浮动*/
  .fl{
    float: left;
  }
  .fr{
    float: right;
  }
  .com_wrap{ 
     padding: 0 8%;
     margin: 0 auto;
  }
  .com_link a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    transform: 0.2s;
    -o-transform: 0.2s;
    -webkit-transform: 0.2s;
    -moz-transform: 0.2s;
  }
  .selected{
  color: green
  }
  .hide{
    display: none;
  }
  .container{
    position: relative;
    top: 113px;
    width: 100%;
    height: 100%;
  }